{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
 <h1>{{ post.title }}</h1>
 <p class="date">
 Opublikowany {{ post.publish }} przez {{ post.author }},

{% if post.tags.all %}
 Tagi:
  {% for tag in post.tags.all %}
 <a href="{% url "blog:post_list_by_tag" tag.slug %}">
 {{ tag.name }}
 </a>
 {% if not forloop.last %}, {% endif %}
 {% endfor %}
{% endif %}
</p>
<hr>
<!-- Preview Image -->
<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
<hr>

{{ post.body|markdown }}

<p>
 <a href="{% url "blog:post_share" post.id %}">
 Udostępnij post
 </a>
</p>

<div class="card my-4">
<h5 class="card-header">Podobne posty</h5>
    <div class="card-body">
    {% for post in similar_posts %}
 <p>
 <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
 </p>
{% empty %}
 Nie ma podobnych postów.
{% endfor %}
    </div>
</div>


{% comment %} https://codediode.io/lessons/198632-default-avatars-with-username-initials {% endcomment %}
{% for comment in comments %}

<div class="media mb-4">
    <div class="avatar-circle mr-3" style="background-color: {{ comment.name_to_color }}">
    <span class="initials">{{ comment.name|slice:":2" }}</span>
    </div>

    <div class="media-body">
    <h5 class="mt-0">{{ comment.name }}</h5>
    <p>{{ comment.created }}</p>
    {{ comment.body|linebreaks }}
    </div>
</div>
{% empty %}
 <p>Nie ma jeszcze żadnych komentarzy.</p>
{% endfor %}

<div class="card my-4">
    <h5 class="card-header">Dodaj nowy komentarz</h5>
    <div class="card-body">
    <form action="." method="post">
        <div class="form-group">
         {{ comment_form.as_p }}
         {% csrf_token %}
        </div>
        <p><input type="submit" class="btn btn-primary" value="Dodaj komentarz"></p>
    </form>
    </div>
</div>
{% endblock %}